<div  class="dice-list__container list" ng-controller="diceGamesetup4Ctrl">
    <div class="dice-navigation-bar">
    </div>
<div class="dice-menu-jieguo-bar">
    
    <div style ="margin:20px;">
     <br><br>
     
   <img class="imgdice" src="{{ diceP1 }}"/><B>{{ dicenum1 }}</B>
   <img class="imgdice" src="{{ diceP2 }}"/><B>{{ dicenum2 }}</B>
   <img class="imgdice" src="{{ diceP3 }}"/><B>{{ dicenum3 }}</B><BR>
   <img class="imgdice" src="{{ diceP4 }}"/><B>{{ dicenum4 }}</B>
   <img class="imgdice" src="{{ diceP5 }}"/><B>{{ dicenum5 }}</B>
   <img class="imgdice" src="{{ diceP6 }}"/><B>{{ dicenum6 }}</B>
   <br>
   <div >
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#987cb9" SIZE="3">
       
        <B>{{gameusername}}</B><br>
       
        <img class="imgdice" ng-src="{{dice1}}">
        <img class="imgdice" ng-src="{{dice2}}">
        <img class="imgdice" ng-src="{{dice3}}">
        <img class="imgdice" ng-src="{{dice4}}">
        <img class="imgdice" ng-src="{{dice5}}">
        <img class="imgdice" ng-src="{{dice6}}">
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#987cb9" SIZE="3">
   </div>
   <div ng-repeat="item in items" ng-click="loadItem(item)"> <B>{{item.username}}</B>
       <br>
   </div>
   
   
     <br>

     <br>
    
    
    </div>

</div>


<div class="dice-menu-bar-start" >
    
    <div class="dice-menu-bar-ag" ng-click="slidePage('/diceviewc1')">
        &nbsp;&nbsp;
        
    </div>
    

   <div class="dice-menu-bar-dmx" ng-click="slidePage('/dmxview')">
    &nbsp;&nbsp;
    
   </div>

</div>

</div>

