<div class="new-navigation-bar"  ng-controller="WhoiswogameoverCtrl"  >
    <div class="new-navigation-bar__item left quarter">
        <a class="new-icon-button--quiet" ng-click="">
            
                </a>
                </div>
    <div class="new-navigation-bar__item center half">
        <h1 class="new-navigation-bar__title">谁是卧底</h1>
    </div>
    <div class="new-navigation-bar__item right quarter">
    </div>
</div>

<iframe
    allowtransparency="true"
    style="background: transparent;"
    src=""
    scrolling="yes" frameborder="0" height="300" scrolling="auto">
</iframe>

<div style="position:fixed; bottom:0; left:0; width:100%;padding:10px;">
    
    <div style="border-radius: 6px;float:left;font-weight:bold;width:100px;color:white;padding:10px;background-color:#FF6600;text-align:center;margin-left:30px;">变更法官</div>
    
    <div style="border-radius: 6px;float:left;font-weight:bold;width:100px;color:white;padding:10px;background-color:#FF3333;text-align:center;margin-left:20px;">
        
        <a >再来一局</a>
        
        
    </div>
</div>

