<div class="gamedatingbg">





<div ng-controller="createNewGameCtrl">
    
   <a class="topcoat-button--cta" ng-click="slidePage('/step3')">
        返回游戏大厅
    </a><br><br><a class="topcoat-button--cta" ng-click="creatNewGame()">新建游戏 + </a></p>
</div>


<div ng-controller="ingGameListCtrl">
   
   <lable class="topcoat-text-input" ng-show="message">{{ message }}</lable>
    
    
        <div class="topcoat-button--cta" ng-repeat="item in items" ng-click="joinGame(item)">
             {{item.id}} {{item.username}}
        </div>
   
    
</div>
</div>
