<div class="gamedatingbg">





<div ng-controller="createNewGameCtrl">
    
   <a class="backgamecenter" ng-click="slidePage('/step3')">
        返回大厅
    </a>
    <a class="creatnewgame" ng-click="creatNewGame()">新建游戏 + </a>
</div>


<div  class="gameinfoarea" ng-controller="ingGameListCtrl">
   
   <lable   ng-show="message">{{ message }}</lable>
    
    
        <div class="gameitemsinfo" ng-repeat="item in items" ng-click="joinGame(item)">
             {{item.username}} 
        </div>
   
    
</div>
</div>
