<script src="./jquery.js"></script>
<script>

function ShowUserList(){
    
$(".viewalluser").hide();
$(".onlineuserlistbg").show();

}

</script>
<style>
    
    body{
        
        -moz-user-select: none; /*火狐*/
        -webkit-user-select: none; /*webkit浏览器*/
        -ms-user-select: none; /*IE10*/
        -khtml-user-select: none; /*早期浏览器*/
        user-select: none;
        background-color:transparent;
        text-shadow: 1px 1px  3px #000;
        margin:0px;
        padding:0px;
     }


.onlineuserlistbg{
    
    overflow: auto;
    margin: 0;
    padding: 0;
    background: transparent;
    
    background-image: url("../img/tableBG.PNG");
    background-repeat: no-repeat;
    color: #FFF;
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    width:320px;
    height:568px;
    display: none;
    margin: 0 auto;
    text-align: Center;
    position:fixed;
    z-index:100px;
    
}

.onlineuserlist-icon-left-button{
    
    background-image: url("../img/usertc.PNG");
    background-repeat: no-repeat;
    float:left;
    width:50px;
    height:50px;
    margin-left:20px;
    
}


.onlineuserlist-icon-right-button{
    
    background-image: url("../img/userreload.PNG");
    background-repeat: no-repeat;
    float:right;
    width:50px;
    height:50px;
    margin-right:20px;
    
}
.viewalluser{
    background-image:url("../img/dmenu.PNG");
    background-repeat: no-repeat;
    display:block;
    width:155px;
    height:35px;
    
    position:fixed;
    top:0px;
    left:80px;
    
}
.userlist{
    width:320px;
    height:560px;
   

}
</style>

<div class="onlineuserlistbg" >
    <div class="onlineuserlist-icon-left-button">
    </div>
<div class="userlist"></div>

</div>

<lable class="viewalluser" onclick="ShowUserList()">
</lable>