<script src="../jquery.js"></script>
<script>
    $(document).ready(function(){
               
                 $(".userlist").fadeIn(3000);
                      });
</script>

<style>
    body {
        
        font: 14px "Source Sans", helvetica, arial, sans-serif;
        -moz-user-select: none; /*火狐*/
        -webkit-user-select: none; /*webkit浏览器*/
        -ms-user-select: none; /*IE10*/
        -khtml-user-select: none; /*早期浏览器*/
        user-select: none;
        color:black;
        margin:0;
        padding:0;
        background-color:transparent;
        }

.onlineuser{
top:80px;
position:fixed;
width:320px;
height:250px;
background-image:url(./img/questionbg.PNG);
background-repeat: no-repeat;
background-position:0;

}
.userlist{
margin-top:10px;
width:300px;
display:none;
padding:8px;
color:white;
font-size:20px;
text-align:center;
}
</style>
<div class=onlineuser>
<div class=userlist>
user1<br>
user1<br>
user1<br>
user1<br>
user1<br>
user1<br>
user1<br>
</div>

</div>